{# Base template for admin (back) pages #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>{% block title %}Admin - BA DISCOUNT{% endblock %}</title>
    <link rel="icon" href="{{ asset('back/assets/img/kaiadmin/favicon.ico') }}" type="image/x-icon" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
